# Virtual environments
.venv
venv
env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea

#locust
dumps
locust_*.csv
locust_*.json
report.html

# Logs and temporary files
*.log
*.tmp

# OS
.DS_Store
Thumbs.db
